body {
    background-color: #463f3a;
    color: #f1e6d6;
    font-family: 'Times New Roman', serif;
}

header {
    background-color: #8B4513;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 45px;
}

h1 {
    color: #d4af37;
    text-align: center;
}

main {
    background-color: #8B4513;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 25px;
    padding-top: 40px;
}

h2 {
    color: #d4af37;
    font-size: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: #f1e6d6;
    font-size: 20px;
}

footer {
    text-align: center;
}