body {
    background-color: #463f3a;
    color: #f1e6d6;
    font-family: 'Times New Roman', serif;
}

header {
    background-color: #8B4513;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 45px;
}

h1 {
    color: #d4af37;
    text-align: center;
}

nav {
    background-color: #8B4513;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    word-spacing: 70px;
}

nav a {
    color: #b8860b;
    margin-right: 10px;
}

main {
    background-color: #8B4513;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #d4af37;
    font-size: 30px;
}

p {
    color: #f1e6d6;
    font-size: 20px;
}

footer {
    text-align: center;
}