h1 {
    font-size: 50px;
    margin: 20px;
    padding: 20px;
}

.corpo h1 {
    text-align: center;
}

.corpo a {
    color: red;
    text-decoration: none;
    text-transform: uppercase;
}

#logo, #logo1 {
    width: 150px;
    height: 100px;
    text-align: center;
}

#div-esterno {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    float: left;
    margin-left: 10px;
}

#logo1 {
    float: right;
    margin-right: 10px;
}

.corpo {
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0px 0px 30px red;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.78);
    overflow-x: hidden;
}

#width {
    width: 100%;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0px 0px 10px #000;
    overflow-x: hidden;
}

p, label {
    font-size: 20px;
    margin: 10px;
}

#flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#flex form {
    width: 100%;
    justify-content: space-between;
}

#flex form input[type="submit"], #flex form input[type="reset"] {
    flex-grow: 1;
    margin: 0 5px;
}

.contorno {
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0px 0px 30px red;
    display: flex;
    margin-top: 10px;
}

#footer {
    color: white;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

input[type="submit"], input[type="reset"] { 
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0px 0px 30px red;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.78);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
    padding: 10px;
}

table td, table th {
    padding: 10px;
    text-align: center;
    align-items: center;
}